@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    margin:0;
    padding: 0;
    font-family: 'Ubuntu'
}

.App{
    background-color: #161A30;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction:column;
   justify-content: center;
   align-items: center;
    
}

.countdown-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.countdown-inner{
   
    min-width: 5vw;
    min-height: 6vh;
    text-align: center;
}

.time{
    border-radius: 20px;
    background-color: #31304D;
    padding: 1rem;
    text-align: center;
}

h1 , h2 , p{
    color: #F0ECE5;
}